
/* **************************FORMS*************************** */
/* auth */
input, select, textarea {
    @apply border border-gray-600 px-2;
}

button {
    @apply border border-gray-600 px-2;
    background-color: buttonface;
}

.input-w-full {
    min-width:0px;
    max-width:100%;
    width:100%;
}

.input-base {
    @apply appearance-none input-w-full border border-gray-600 px-2 rounded py-1;
}

.label-base {
    @apply font-bold;
}

.btn-base {
    @apply shadow font-bold py-2 px-4 rounded;
}

.btn-base:focus {
    @apply shadow-outline outline-none;
}

.text-error {
    @apply font-semibold text-sm text-red-500;
}

input-char-count {
    @apply absolute m-1 text-sm font-semibold right-0 bottom-0 leading-none;
}