@import "~jquery-ui/themes/base/all.css";
@import "~jquery-modal/jquery.modal.min.css";
@import '@yaireo/tagify/src/tagify';
@import 'js-autocomplete/auto-complete';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./_buttons";
@import "./utilities";
@import "./ck-editor";
@import "./_forms";

@responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }
  
    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.7), 0 2px 4px rgba(0,0,0,0.7);
    }
  
    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0,0,0,0.9), 0 5px 15px rgba(0,0,0,0.9);
    }
  
    .text-shadow-none {
      text-shadow: none;
    }
}