@import '@yaireo/tagify/src/tagify';
@import 'js-autocomplete/auto-complete';
@import "./_buttons";
@import "./utilities";
@import "./ck-editor";

body {
	font-family: "Times New Roman", Times, serif;
}

article p {
	font-size: x-large;
}

.cursor-pointer {
	cursor: pointer;
}

.blured-section {
	position: relative;
	padding-top: 40%;
	overflow: hidden;
	&:before {
		content: '';
		z-index: 1;
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		box-shadow: 0px -100px 125px 10px white inset;
	}
	.blured-content {
		position: absolute;
	}
}

.tagify-input.tagify-input-list {
	display: block !important;
	height: auto !important;
	span {
		display: block !important;
		position: relative !important;
	}
	tag {
		display: flex !important;
		position: relative !important;
	}
}
.tagify-input.tagify-input-list {
	display: none !important;
}
tags.tagify-input.tagify-input-list {
	display: block !important;
}