.checked\:next-hidden-show:checked ~ .hidden {
	display:initial !important;
}

.hidden {
	display: none;
}

input[type=checkbox].list-item:checked ~ label {
	text-decoration: none;
}

input[type=checkbox].list-item ~ label {
	text-decoration: red line-through;
}